.container{
    width: 50rem;
    border: 1rem solid black;
}
.image-slider{
    height: 80vh;
}

.arrows-container{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

button{
    background-color: red;
    color: red;
    height: 100px;
    width: 100px;
}